$gray900: #212121;
$gray800: #757575;
$gray700: #A1A1A1;
$gray400: #D1D1D1;
$gray300: #E0E0E0;
$gray200: #E7E7E7;
$gray100: #EFEFF0;
$gray50: #F6F7F8;
$highlight-color: #4481eb;
$highlight-darker-color: mix(black, $highlight-color, 10%);
$background-color: #ffffff;
$highlight-text-color: #ffffff;
$text-color: $gray900;
$secondary-text-color: $gray700;
$placeholder-color: $gray700;
$error-color: #f44336;
$global-notification-color: #f0512a;
$end-conversation-option-color: $highlight-color;
$leave-conversation-color: #f0512a;
$status-color: mix($highlight-color, $gray100, 20%);
$thread-closure-color: $gray800;
$send-icon-color: #ffffff;
$bubble-icon-color: #ffffff;
$header-color: $highlight-color;
$header-text-color: $highlight-text-color;
$header-icon-color: #ffffff;
$message-background-color: #ecf0f6;
$message-text-color: $text-color;
$message-self-background-color: $highlight-color;
$message-self-text-color: $highlight-text-color;
$cobrowsing-status-color: #667080;
$cobrowsing-status-button-bg-color: $gray100;
$webview-header-background-color: $background-color;
$webview-header-text-color: $text-color;
